.footer {
  background: #111827;

  color: #e5e7eb;

  margin-top: 60px;
}

/* Container */
.footer-container {
  max-width: 1200px;
  margin: auto;

  padding: 40px 20px;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 30px;
}

/* Column */
.footer-col h3,
.footer-col h4 {
  color: white;

  margin-bottom: 12px;
}

.footer-col h3 {
  font-size: 22px;
}

.footer-col h4 {
  font-size: 17px;
}

.footer-col p {
  margin: 6px 0;

  font-size: 14px;

  line-height: 1.6;

  cursor: pointer;

  transition: 0.2s;
}

.footer-col p:hover {
  color: #f87171;
}

/* Bottom */
.footer-bottom {
  background: #020617;

  text-align: center;

  padding: 15px 0;

  font-size: 13px;

  color: #9ca3af;
}

/* Mobile */
@media (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
