.header {
  background: linear-gradient(90deg, #2563eb, #9333ea);
  padding: 20px 0;
  color: white;
    position: sticky;
  top: 0;
  z-index: 1000;

}



.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 25px;
  font-size: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.menu a:hover {
  text-decoration: underline;
}

/* Cart icon */
.cart-icon {
  position: relative;
  font-size: 24px;
}

/* Badge */
.cart-badge {
  position: absolute;
  top: -8px;
  right: -12px;

  background: red;
  color: white;

  width: 22px;
  height: 22px;
  border-radius: 50%;

  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;
}
